.MainList{
    width: 65em;
    background-color: #fafafa;
}

.listtext {
    margin-left: 1em;
}

#AheaderClick{
    margin-right: 31em;
    // 메인버튼옆 아이콘버튼
}

#Aheader{
    margin-left: 28em;
    // 메인버튼
}

#Afollowerbutton {
    margin-left: 27.5em;
    //가운데 홈 버튼
}