

// .weringbutton{
//     margin-top: 8em;
// }

.listtext {
    margin-left: 1em;
    margin-top: 1em;
}
.followerbutton {
   
    height: 3.250em;
    margin-left: 61em;
    margin-right: 30em;
 
}

.mainlist {
    margin-left: 1em;
    margin-right: 1em;

}

.homebutton {
    width: 8em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 30em;
    margin-right: 30em;
}
.logo{
    margin-left: 40em;
    margin-right: 57em;
    margin-top: 2.5em;
    width: 200px;
    height: 200px;
}