.MainList{
    width: 65em;
    background-color: #fafafa;
}

.listtext {
    margin-left: 1em;
}

#headerClick{
    margin-right: 30em;
    // 메인버튼옆 아이콘버튼
}

#header{
    margin-left: 28em;
    // 메인버튼
}

#followerbutton {
    margin-left: 26em;
    // 가운데 스위치버튼
}