@import "../../../styles/variables";

.Pclick_imgcard {
  border: 1px solid $border-color-grey;
  background-color: $background-white;
  margin-bottom: 3.5em;
  border-radius: 3px;
  max-height: 1200px;
  width: 580px;
  margin-left: 30px;

  .Pclick_imgcardImage {
    width: 580px;
    height: 573px;
    display: block;
  }
}
