.cm{
  width: 100vw;
  margin:auto;

  .container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 62.5em;
    width: 100vw;
    margin: auto;
        
    .cards {
      width: 100vw;
      text-align: center;
      justify-content: space-between;
      float:left;
      margin: auto;
    }

}
}