
.bu{
  // margin:auto;
  // margin-right:50%;
  margin-left: 6.5em;
  max-width: 100px;
  max-height: 25px;
  margin-top: 0.5em;
  
  }

#map {
  margin:auto;
  // margin-top:5em;
  // margin-bottom: 2em;
  width: 21.8em;
  height: 16.8em;
  margin-top: 1.5em;
}
  
