// 메인창 가운데 정렬 및 높낮이 조절
.main {
  margin: 0 auto;
  margin-top: 3.125em;
}
// 회원가입 창 박스
.centerbox {
    margin-top: 3.250em;
}
// 로고사이즈 
.logo {
  width: 12.500em;
  height: 12.500em;
  margin-bottom: 5em;
  margin-left: 2em;
  margin-right: 2em;
}
