@import "variables";

.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #FDF5D2;
  width: 100%;
  border-bottom: 1px solid $border-color-grey;

  .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    // padding: 50px;
    
    .imgbox{
      width: 293px;
      float:left;
      margin-left: 1em;
      margin-right: 1em;

      .logo {
        padding: 0 1em;
        width: 105px;
  
        &:hover {
          cursor: pointer;
        }
      }
    }

    .search {
      width: 293px;
      text-align: center;
      float:left;
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 10px;
      margin-bottom: 10px;
      // border: px solid $border-color-grey;
      // border-radius: 3px;
      // background-color: #FDF5D2;
      // min-width: 300px;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      .searchIcon {
        width: 20px;
        height: 20px;
        opacity: 0.8;
        margin-right: 0.5em;
        margin-bottom: 10px;
      }

      .searchBox {
        border:none;
        width:250px;
        height:35px;
        overflow: auto;
        font-size: 1.3em;
        font-weight: 600px;
        margin-top:10px;
        margin-bottom:10px;
      }
    }

    .menubox{
      width: 293px;
      text-align: center;
      float:left;
      margin-left: 1em;
      margin-right: 1em;

      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.25em;
        padding: 0 1em;
        
        .icon {
          margin-left: 0.5em;
          margin-right: 0.5em;
          width: 23px;
          height: 23px;
      
          &:hover {
            cursor: pointer;
          }
        }
      
        .profileIcon {
          margin-left: 0.5em;
          margin-right: 0.5em;
          width: 30px;
          height: 30px;
        }
      }

    }
    


  }
}