// 메인창 가운데 정렬 및 높낮이 조절
.main {
  margin: 0 auto;
  margin-top: 50px;
}
// 회원가입 창 박스
.centerbox {
  margin:auto;
  margin-top: 1vh;
}
// 로고사이즈 
.logo {
  max-width: 18.75em;
  width: 100vw;
  max-height: 18.75em;
  height: 100vh;
  margin:auto;
  margin-bottom: 2vh;
}
