.maincard {
  max-width: 15em;
  width: 100vw;
  margin: auto;
  margin-bottom: 3em;

  .mainheader {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 18.3em;
    width: 100vw;
    max-height: 3em;
    height: 100vh;
    margin: auto;

    // padding: 50px;

    .mainprofile {
      width: auto;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;
    }

    .maincardButton {
      max-height: 3em;
      height: 100vh;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .maincardImage {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    max-width: 18.3em;
    width: 100vw;
    height: 575px;
    display: block;
  }
}

.feedcard {
  max-width: 800px;
  width: 100vw;
  max-height: 800px;
  height: 100vh;
  margin: auto;
  margin-bottom: 3em;
  transform: "translate(-50%, -50%)";

  .feedheader {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 18.3em;
    width: 100vw;
    max-height: 3em;
    height: 100vh;
    margin: auto;

    // padding: 50px;

    .feedprofile {
      width: auto;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;
    }

    .feedcardButton {
      max-height: 3em;
      height: 100vh;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .feedcardImage {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    max-width: 18.3em;
    width: 100vw;
    height: 575px;
    display: block;
  }
}


