.maincm {
  width: 100vw;
  margin: auto;
  margin-top: 12vh;
  margin-bottom: 12vh;
  
  

  .maincontainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 62.5em;
    width: 100vw;
    margin-left: 25em;
   

    .maincards {
      width: 290px;
      text-align: center;
      justify-content: space-between;
      float: left;
      margin: auto;
    }
  }
}
