.maincard {
  max-width: 15em;
  width: 290px;
  margin: auto;
  margin-bottom: 3em;
  margin-left: 50%;
  margin-right: 50%;

  .mainheader {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 21.9em;
    width: 290px;
    max-height: 3em;
    height: 35px;
    margin: auto;
    background-color: lightyellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    // padding: 50px;

    .mainprofile {
      width: auto;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;
    }

    .maincardButton {
      max-height: 3em;
      height: 100vh;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .maincardImage {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    max-width: 21.9em;
    width: 290px;
    height: 350px;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.feedcard {
  max-width: 800px;
  width: 100vw;
  max-height: 800px;
  height: 100vh;
  margin: auto;
  margin-bottom: 3em;
  transform: "translate(-50%, -50%)";

  .feedheader {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 18.3em;
    width: 100vw;
    max-height: 3em;
    height: 100vh;
    margin: auto;

    // padding: 50px;

    .feedprofile {
      width: auto;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;
    }

    .feedcardButton {
      max-height: 3em;
      height: 100vh;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .feedcardImage {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    max-width: 18.3em;
    width: 100vw;
    height: 575px;
    display: block;
  }
}

#box {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: auto;
  background: paper;
  margin-left: 18.6%;
  margin-right: 16%;
  margin-bottom: 25em;
}
