.mycm {
  width: 100vw;
  margin: auto;
  margin-top: 10vh;
  

  .mycontainer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 62.5em;
    width: 100vw;
    margin: auto;
    margin-left: 25em;

    .mycards {
      width: 100vw;
      text-align: center;
      justify-content: space-between;
      float: left;
      margin: auto;
    }
  }
}
