.mycard {
  // position: fixed;
  // top: 15vh;
  max-width: 15em;
  width: 100vw;
  margin: auto;
  margin-top: 5vh;

  .mycardImage {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 21.9em;
    margin: auto;
    width: 290px;
    max-height: 575px;
    height: 350px;
    display: block;
    border-radius: 10px;
  }
}
