@import "../../styles/variables";


.navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid $border-color-grey;
  width: 100vw;
  height: 5vw;


  .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 62.5em;
    width:100vw;
    height: auto;
    margin: auto;
    
    .logobox{
      max-width: 10.3em;
      width: 100vw;
      margin: auto;
      margin-right: 8em;
      margin-top: 0.3em;
      margin-left: 0.4em;

      .navigationlogo {
        float:left;
        
        max-width: 17em;
        width: 5.5em;
        max-height:8em;
        height:5.5em;
        margin:auto;
  
        &:hover {
          cursor: pointer;
        }
      }
    }

    
    .search {
      max-width: 12.3em;
      width: 60vw;
      text-align: center;
      float:left;
      margin-right: 11em;
      margin-top: 1.5em;
      

      .searchIcon {
        // position: relative;
        top: 0.3em;
        max-width: 1.3em;
        width: 100vw;
        max-height: 1.3em;
        height: 100vh;
        opacity: 0.8;
        margin-right: 0.3em;
        position: absolute;
        margin-top: 1.1em;
        margin-left: 11.7em;
      }

      .searchBox {
        border:none;
        overflow: auto;
        font-size: 1vw;
        max-height:1.5em;
        height:100vh;
        background-color: whitesmoke;
        border-bottom: 1px solid;
        text-align: center;
        max-width: 10.2em;
        margin-top: 0.5em;
        margin-left: 3.8em;
      }

    }

    .menubox{
      max-width: 18.3em;
      width: 100vw;
      text-align: center;
      float:left;
      // margin-left: 1em;
      margin-right: 4em;
      margin-bottom: 1em;
      margin-top: 1.8em;
      

      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.4em;
        padding: 0 1em;

       
       
        
        .icon {
          margin-left: 0.5em;
          margin-right: 0.5em;
          max-width: 1.45em;
          width:100vw;
          max-height: 1.45em;
          height: 100vh;
          color: black;
          
         
      
          &:hover {
            cursor: pointer;
          }
        }
      
        .profileIcon {
          margin-left: 0.5em;
          margin-right: 0.5em;
          max-width: 2em;
          width:100vw;
          max-height: 2em;
          height:100vh;
        }
      }

    }
    


  }
}